body {
	font-family: arial;
}

ul.list {
	font-size: 12px;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

ul.list li {
	white-space: nowrap;
}

ul.list li span {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

ul.list li.headers {
	border: 1px solid #999;
	font-weight: bold;
	background-color: #ccc;
}

ul.list li.headers span {
	text-align: center;
}

ul.log-list .line {
	width: 4%;
}

ul.log-list .message {
	width: 24%;
}

ul.log-list .url {
	width: 24%;
}

ul.log-list .date {
	width: 14%;
}

ul.log-list .address {
	width: 14%;
}

ul.log-list .port {
	width: 4%;
}

ul.log-list .user-agent {
	width: 14%;
}


ul.session-list .client-type {
	width: 10%;
}

ul.session-list .address {
	width: 6%;
}

ul.session-list .url {
	width: 30%;
}

ul.session-list .user-agent {
	width: 27%;
}

ul.session-list .message {
	width: 27%;
}