doctype html
html
	head
		title App Monitor
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

	body
		h1 App Monitor
		ul
			li
				a(href="status" title="current server status") current server status
			li
				a(href="loglist" title="list of browser errors") list of browser errors