doctype html
html
	head
		title App Monitor - Server Status
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')

	body
		h1 Current sessions

		ul.list.session-list
			li.headers
				span.client-type client type
				span.address address
				span.url latest url requested
				span.user-agent user agent
				span.message latest message

		div#dynamic-session-list

		script(src="http://fb.me/react-0.11.1.js")
		script(src="http://code.jquery.com/jquery-1.10.0.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")
		script(src="/js-thirdparty/socket.io.js")
		script(src="/js/bundle.js")
